{% extends "dishes/base.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4 border p-4 shadow-sm bg-light rounded">
    <h2 class="mb-4 text-center">Connexion</h2>

    {% if form.errors %}
      <div class="alert alert-danger">
        Nom d'utilisateur ou mot de passe incorrect.
      </div>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label class="form-label">{{ field.label }}</label>
          {# On ajoute manuellement la classe Bootstrap ici #}
          {{ field }}
          {% if field.help_text %}
            <div class="form-text text-muted">{{ field.help_text|safe }}</div>
          {% endif %}
        </div>
      {% endfor %}
      <button class="btn btn-primary w-100" type="submit">Se connecter</button>
    </form>

    <p class="mt-3 text-center">
        Pas encore de compte ? <a href="{% url 'accounts:signup' %}">Inscrivez-vous ici</a>
    </p>
  </div>
</div>
{% endblock %}